<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Orders</h1>
<% if @orders.count != 0 %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type_id %></td>
        <td><%= link_to 'Ship', update_ship_date_order_path(order) %></td>
        <td><%= link_to 'Delete', order, method: :delete %></td> 
    <% end %>
        <td><%= will_paginate @orders, :page_links => false %></td>
      </tr>
  </tbody>
</table>

<% else %>
<%= 'There are no orders at the moment' %>
<% end %>

<br>